<header>
		<div class="left">
			<a href="#" class="menu" (click)="sendClickEvent($event)">
				<i class="fa fa-bars fa-2x"></i>
			</a>
			<a href="javascript:void(0)" class="search">
				<i class="fa fa-search fa-2x"></i>
			</a>
		</div>
		<div class="right">
			<a href="#" class="addProject">+ Add Project</a>
			<a href="#">
				<i class="fa fa-envelope"></i>
			</a>
			<a href="#">
				<i class="fa fa-bell"></i>
			</a>
			<a href="#">
				<i class="fa fa-user-circle-o fa-5x"></i>
			</a>
		</div>
</header>